@import
  "./base/variables",
  "./base/mixins";

$buttonOffset: 1vw;
$buttonSize: 5vw;

.up-button-container {
  position: fixed;
  bottom: $buttonOffset;
  right: $buttonOffset;
  height: $buttonSize;
  width: $buttonSize;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  z-index: 1;

  svg {
    height: 90%;
    width: auto;
    fill: var(--up-button);
  }

  @include tablet {
    height: $buttonSize * 1.5;
    width: $buttonSize * 1.5;
    right: 0;
  }

  @include mobile {
    height: $buttonSize * 3.5;
    width: $buttonSize * 3.5;
  }
}

.up-button-container--hidden {
  bottom: -5 * $buttonSize;
}