@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root[data-theme=light] {
  --background-color: #e2e1e0;
  --background-color-card: #E8E8E8;
  --text-color-header: black;
  --text-color: black;
  --theme-toggle: #081B33;
  --align-toggle: #081B33;
  --up-button: black;
}

:root[data-theme=dark] {
  --background-color: #131313;
  --background-color-card: #181818;
  --text-color-header: white;
  --text-color: #D3D3D3;
  --theme-toggle: #e2e1e0;
  --align-toggle: #e2e1e0;
  --up-button: #e2e1e0;
}

.up-button-container {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  height: 5vw;
  width: 5vw;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
.up-button-container svg {
  height: 90%;
  width: auto;
  fill: var(--up-button);
}
@media (max-width: 768px) {
  .up-button-container {
    height: 7.5vw;
    width: 7.5vw;
    right: 0;
  }
}
@media (max-width: 576px) {
  .up-button-container {
    height: 17.5vw;
    width: 17.5vw;
  }
}

.up-button-container--hidden {
  bottom: -25vw;
}

body {
  background: var(--background-color);
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  transition: background 0.8s ease-in-out;
}

main {
  position: relative;
  overflow: hidden;
  width: 65%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 3.5em;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: var(--background-color-card);
  transition: background 0.8s ease-in-out;
}
@media (max-width: 768px) {
  main {
    width: 85%;
  }
}
@media (max-width: 576px) {
  main {
    width: 100%;
    margin: 0;
    padding: 2em;
    padding-top: 7vh;
    border-radius: 0;
    background: var(--background-color);
  }
}

h1 {
  text-align: center;
  font-size: 5vmin;
  font-weight: 600;
  color: var(--text-color-header);
}
@media (max-width: 576px) {
  h1 {
    font-size: 8vmin;
  }
}

article p {
  margin: 0.5em 0;
  text-align: justify;
  font-size: 3vmin;
  line-height: 1.3em;
  text-indent: 1.5em;
  color: var(--text-color);
}
@media (max-width: 576px) {
  article p {
    font-size: 4.2vmin;
  }
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
figure #portrait-horizontal {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 1.5vh;
}
figure #portrait-vertical {
  width: 100px;
  display: none;
}

#theme-toggle {
  position: absolute;
  top: -4vw;
  left: -4vw;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--theme-toggle);
  transition: all 0.5s ease-in-out;
}
@media (max-width: 768px) {
  #theme-toggle {
    top: -8vw;
    left: -8vw;
    width: 16vw;
    height: 16vw;
  }
}
@media (max-width: 576px) {
  #theme-toggle {
    top: -14vw;
    left: -14vw;
    width: 26vw;
    height: 26vw;
  }
}

#switch-text-align {
  display: none;
}
#switch-text-align:checked + .switch-text-align-label svg line:nth-of-type(1) {
  transform-origin: 0% 50%;
  transform: scale(0.5, 1);
}
#switch-text-align:checked + .switch-text-align-label svg line:nth-of-type(2) {
  transform-origin: 0% 50%;
  transform: scale(0.25, 1);
}
#switch-text-align:checked + .switch-text-align-label svg line:nth-of-type(4) {
  transform-origin: 0% 50%;
  transform: scale(0.75, 1);
}

.switch-text-align-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  height: 7vh;
  width: 7vh;
  padding: 1vh;
}
@media (max-width: 576px) {
  .switch-text-align-label {
    height: 7vh;
    width: 7vh;
  }
}

.switch-text-align {
  height: 80%;
  stroke: var(--align-toggle);
  stroke-width: 20;
  stroke-miterlimit: 10;
  cursor: pointer;
}
.switch-text-align line {
  transition: transform 0.25s ease;
}

/*# sourceMappingURL=style.css.map */
