body h1 {
  font-family: 'Playfair Display', serif;
}

body p {
  font-family: 'Noto Serif', serif;
  text-indent: 20px;
  font-size: 150%;
}

img {
  width: 100%;
  max-width: 500px;
}


@media only screen and (max-width: 320px) {

  body p { 
     font-size: 4em; 
  }

}
img#portrait {}