/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* typography */

/* variation font */
@font-face {
  font-family: "Montserrat-VF";
  src: url("./public/fonts/Montserrat-VF.woff2") format("woff2-variations");
}

/* fallback, regular */
@font-face {
  font-family: "Montserrat-Medium-Regular";
  src: url("./public/fonts/Montserrat-Medium-Regular.woff2") format("woff2");
}

:root {
  --font-main: "Montserrat-Medium-Regular", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-main: "Montserrat-VF", sans-serif; 
  }
}

/* custom props */

:root {
  --article-width: 50ch;
  font-size: calc(10px + 1vmax);
}

:root,
:root[data-theme="light"] {
  --bg: hsl(0 0% 100%);
  --bg-100: hsl(0 0% 100%);
  --bg-200: hsl(0 0% 65%);
  --track: hsl(0 0% 85%);
  --color: black;

  --shadow:
    0 3px 6px rgb(0 0 0 / 0.16),
    0 3px 6px rgb(0 0 0 / 0.23);
}

:root[data-theme="dark"] {
  --bg: hsl(204 12% 8%);
  --bg-100: hsl(204 12% 12%);
  --bg-200: hsl(204 12% 25%);
  --track: hsl(204 12% 15%);
  --color: hsl(0 0% 90%);

  --shadow:
    0 4px 7px rgb(0 0 0 / 0.45),
    0 4px 7px rgb(0 0 0 / 0.35);
}

/* body */

body {
  background: var(--bg);
  color: var(--color);
  font-family: var(--font-main);
  line-height: 1.25;

  display: grid;
  grid-template-columns:
    minmax(0.5ch, 1fr)
    minmax(auto, var(--article-width))
    minmax(0.5ch, 1fr);
  padding-bottom: 2.5em;
  transition: background 0.2s linear;
}

/* article */

main {
  grid-column: 2;
  padding-top: 2.5em;
}

article {
  display: grid;
  font-size: 0.7rem;
  border-radius: 5px;
  overflow: hidden;
  background: var(--bg-100);
  
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

/* image */

figure, img {
  width: 100%;
  height: 100%;
}

figure {
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: grid;
  place-items: center;
  padding: 0.7em;
  background: rgb(18 18 18 / 0.75);

  font-variation-settings: "wght" 600;
  font-size: 0.9rem;
  color: white;
}

/* article contents */


article section {
  display: grid;
  row-gap: 0.5em;
  text-indent: 1em;
  font-size: 0.6rem;

  padding: 2.5em 4em;
}

/* theme toggle */
#theme-toggle {
  --size: 35px;
  opacity: 0.8;

  position: absolute;
  width: var(--size);
  height: var(--size);
  top: calc(0.4 * var(--size));
  right: calc(0.4 * var(--size));
  cursor: pointer;
  transition:
    fill 0.1s linear,
    transform 0.1s ease-in-out;
}

#theme-toggle g:nth-of-type(1) path:nth-of-type(1) {
  fill: darkslategrey;
  stroke: darkslategrey;
  stroke-width: 5px;
}

#theme-toggle g:nth-of-type(1) path:nth-of-type(2) {
  fill: var(--bg);
}

#theme-toggle g:nth-of-type(2) {
  fill: gold;
  opacity: 0;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition:
    opacity 0.1s linear,
    transform 0.1s ease-out;
}

/* night state */
:root[data-theme=dark] #theme-toggle,
:root[data-theme=dark] #theme-toggle g:nth-of-type(1) path:nth-of-type(1),
:root[data-theme=dark] #theme-toggle g:nth-of-type(1) path:nth-of-type(2) {
  fill: gold;
}

:root[data-theme=dark] #theme-toggle g:nth-of-type(2) {
  opacity: 1;
  transform: scale(1) rotate(90deg);
}

:root[data-theme=dark] #theme-toggle g:nth-of-type(1) path:nth-of-type(1) {
  stroke-width: 0;
}


/* media */

/* custom scroll bar for non-mobile */
@media screen and (min-width: 768px) {

  :root::-webkit-scrollbar {
    width: 10px;
  }
  
  :root::-webkit-scrollbar-track {
    background: var(--track);
  }
  
  :root::-webkit-scrollbar-thumb {
    background: var(--bg-200);
  }
}

@media screen and (max-width: 768px) {

  article section {
    font-size: 0.8rem;
    padding: 1em 1em;
  }

  #theme-toggle {
    --size: 25px;
    opacity: 0.7;
    left: calc(0.8 * var(--size));
    top: calc(0.8 * var(--size));
  }

  main {
    padding-top: 0.5em;
  }

}