body {
  background: var(--background-color);
  margin: 2% 2% 2% 2%;
}

h1 {
  color: #37474F;
  padding: 1% 3%;
  font-family: var(--primary-font), serif;
  font-size: 2.8rem;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#portrait-horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}

#portrait-vertical {
  display: none;
}

main {
  margin: 3% auto 3% auto;
  width: 70%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

article {
  font-family: var(--secondaty-font), serif;
  font-size: 1.2rem;
  text-align: justify;
  padding: 2% 5% 2% 5%;
}

article br {
  line-height: 200%;
}

p {
  text-indent: 5%;
  letter-spacing: 0.03em;
}