@media screen and (max-width: 900px) {

  body{
    margin: 0;
  }

  h1 {
    font-size: 1.6rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  #portrait-horizontal {
    display: none;
  }

  #portrait-vertical {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
  }

  main {
    width: 100%;
    margin: 0;
  }

  article {
    font-size: 0.9rem;
  }
}