@import url(https://fonts.googleapis.com/css?family=Noto+Serif|Playfair+Display&display=swap);

:root {
  --background-color: #FAFAFA;
  --primary-color: #B0BEC5;
  --primary-font: 'Noto Serif';
  --secondary-font: 'Playfair Display'
  font-size: 20px;
  font-family: var(--primary-font), sans-serif, monospace;  
}