@import url(https://fonts.googleapis.com/css?family=Noto+Serif|Playfair+Display&display=swap);

:root {
  --background-color: #FAFAFA;
  --primary-color: #B0BEC5;
  --primary-font: 'Playfair Display';
  --secondary-font: 'Noto Serif';
  font-size: 20px;  
}